body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    /* padding: 0.625em; */
    background-color: #ffffff;
    height: 3.75em;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.logo {
    /* display: block;
    width: 8em;
    position: absolute;
    top: 5%;
    margin: 100px auto 5; */
    display: flex;
    /* flex-direction: column;
    justify-content: space-between;
    width: 2em;
    height: 1.35em;
    cursor: pointer; */
    position: absolute;
    left: 9.38em;
    top: 50%;
    transform: translateY(-50%); 

} 

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2em;
    height: 1.35em;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); 
}

.menu-button span{
    display: block;
    width: 100%;
    height: 0.1875em;
    background-color: #000;
}

.hoofdpagina {
    background-image: url('Assets/hoofdpagina\ image.png');
    background-size: cover;
    background-position: center;
    height: 45vh;
    top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: -900;
    width: 100%;
    
}

.hoofdtekst {
    position: absolute;
    /* top: 63%; */
    left: 1.5em;  
    height: 65vh;
    justify-content: center;
}

@media (min-width: 45em) {
    header {
        height: 3.75em;
    }

    .logo {
        left: 50%;
        transform: translateX(-50) translateY(-50);
    }

    .menu-button {
        left: 2em;
    }

    .hoofdpagina {
        height: 65vh;
    }

    .hoofdtekst {
        left: 1em;
        justify-content: center;
        height: 50vh;
        top: 250px;
    }
}


@media (min-width: 64em) {
    header{
        height: 3.75em;
    }

    .logo {
        left: 50%;
        transform: translateX(-50) translateY(-50%);
    }

    .menu-button {
        left: 2.5em;
    }

    .hoofdpagina {
        height: 85vh;
    }

    .hoofdtekst {
        left: 1em;
        justify-content: center;
        height: 30vh;
        width: 90vh;
    }
}


